// Variable
@import "../../styles/variables/colors";

// .home-wrapper-1 start
.home-wrapper-1 {
  //   background-color: red;
  // mySwiper

  .mySwiper {
    .swiper-pagination {
      transform: translate(-50%, 6px) !important;
    }

    .swiper-pagination-bullet-active {
      background-color: #131921;
    }
  }
}

.small-banner-content {
  top: 10%;
  left: 10%;

  h4 {
    font-size: 14px;
    font-weight: 400;
    line-height: 24px;
    color: $orange;
    margin: 0 0 12px;
    letter-spacing: 0.3px;
    text-transform: uppercase;
  }

  h5 {
    font-size: 22px;
    line-height: 34px;
    letter-spacing: -2px;
    font-weight: 500;
    padding: 0;
    text-transform: none;
  }

  p {
    font-size: 14px;
    line-height: 22px;
    letter-spacing: 0.4;
    color: $theme-primary;
  }
}

// .home-wrapper-1 End

// .home-wrapper-2 Start

.home-wrapper-2 {
  background-color: $bg-light-gray;
  .services {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;

    .service-card {
      gap: 0 20px;
      cursor: pointer;
      & img {
        max-width: 45px;
        height: 45px;
      }

      & h6 {
        color: $theme-primary;
      }
    }
  }
}

// .categories Start

.categories {
  background-color: $white;
  box-shadow: $shadow-primary;
  padding: 30px;
  border-radius: 5px;
  display: flex;
  // justify-content: space-between;
  align-items: center;

  .category-card {
    cursor: pointer;
    flex-direction: column;
    display: flex;
    overflow: hidden;
    border-bottom: 1px solid $border-primary;
    padding-bottom: 10px;

    & .product-img {
      overflow: hidden;
    }
    &:hover {
      & img {
        transition: all 0.3s ease-in-out;
        transform: scale(1.2);
      }

      & h6 {
        text-decoration: underline;
        text-decoration-thickness: 2px;
      }
    }
  }
}
// .categories End

// featured-collection-wrapper

.feature-collection-wrapper {
  .swiper-pagination {
    display: none;
  }
}

// .home-wrapper-2 End
